# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.env/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings folder
.vscode/

# macOS files
.DS_Store

# Logs
*.log

# Spyder project settings
.spyproject/

# Rope project settings
.ropeproject/

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# C extensions
*.so

# Cython debug symbols
cython_debug/

# dotenv environment variables file
.env

# Python virtual environment
venv/
env/
.env/

